# Faster R-CNN with Resnet-101 (v1) configured for the Oxford-IIIT Pet Dataset.
# Users should configure the fine_tune_checkpoint field in the train config as
# well as the label_map_path and input_path fields in the train_input_reader and
# eval_input_reader. Search for "PATH_TO_BE_CONFIGURED" to find the fields that
# should be configured.

model {
  faster_rcnn {
    num_classes: 130
    image_resizer {
      keep_aspect_ratio_resizer {
        min_dimension: 600
        max_dimension: 1024
      }
    }
    feature_extractor {
      type: 'faster_rcnn_resnet101'
      first_stage_features_stride: 16
    }
    first_stage_anchor_generator {
      grid_anchor_generator {
        scales: [0.25, 0.5, 1.0, 2.0]
        aspect_ratios: [0.5, 1.0, 2.0]
        height_stride: 16
        width_stride: 16
      }
    }
    first_stage_box_predictor_conv_hyperparams {
      op: CONV
      regularizer {
        l2_regularizer {
          weight: 0.0
        }
      }
      initializer {
        truncated_normal_initializer {
          stddev: 0.01
        }
      }
    }
    first_stage_nms_score_threshold: 0.0
    first_stage_nms_iou_threshold: 0.7
    first_stage_max_proposals: 300
    first_stage_localization_loss_weight: 2.0
    first_stage_objectness_loss_weight: 1.0
    initial_crop_size: 14
    maxpool_kernel_size: 2
    maxpool_stride: 2
    second_stage_box_predictor {
      mask_rcnn_box_predictor {
        use_dropout: false
        dropout_keep_probability: 1.0
        fc_hyperparams {
          op: FC
          regularizer {
            l2_regularizer {
              weight: 0.0
            }
          }
          initializer {
            variance_scaling_initializer {
              factor: 1.0
              uniform: true
              mode: FAN_AVG
            }
          }
        }
      }
    }
    second_stage_post_processing {
      batch_non_max_suppression {
        score_threshold: 0.0
        iou_threshold: 0.6
        max_detections_per_class: 100
        max_total_detections: 300
      }
      score_converter: SOFTMAX
    }
    second_stage_localization_loss_weight: 2.0
    second_stage_classification_loss_weight: 1.0
  }
}

train_config: {
  batch_size: 1
  optimizer {
    momentum_optimizer: {
      learning_rate: {
        manual_step_learning_rate {
          initial_learning_rate: 0.00001
          schedule {
            step: 5000
            learning_rate: 0.001
          }
          schedule {
            step: 160000
            learning_rate: 0.0001
          }
        }
      }
      momentum_optimizer_value: 0.9
    }
    use_moving_average: false
  }
  gradient_clipping_by_norm: 10.0
  #fine_tune_checkpoint: "/mnt2/models/ckpt/exp15_3/model.ckpt-40301"
  #fine_tune_checkpoint: "/mnt2/models/ckpt/exp11/model.ckpt-45843"
  fine_tune_checkpoint: "/mnt2/models/ckpt/pb_UEC256_Res101_378643/model.ckpt"
  fine_tune_checkpoint_type: 'detection'
  # from_detection_checkpoint: true
  load_all_detection_checkpoint_vars: true
  num_steps: 400000
  keep_checkpoint_every_n_hours: 3
  data_augmentation_options {
    random_horizontal_flip {
    }
  }
}

train_input_reader: {
  tf_record_input_reader {
    input_path: "/mnt2/DB/TFrecord/UEC_exp15_train.record"
  }
  label_map_path: "/mnt2/projects/TF_obj_detection/label_maps/exp15_label_map.pbtxt"
}


eval_config: {
  metrics_set: "coco_detection_metrics"
  num_examples: 2950
  max_evals: 1
  # visualization_export_dir: "/mnt2/results/TF_visualization_export_dir"
  eval_interval_secs: 3600
  # include_metrics_per_category: true
}

eval_input_reader: {
  tf_record_input_reader {
    input_path: "/mnt2/DB/TFrecord/UEC_exp15_val.record"
  }
  label_map_path: "/mnt2/projects/TF_obj_detection/label_maps/exp15_label_map.pbtxt"
  shuffle: false
  num_readers: 1
}